.navbar {
  padding: 50px 20px 20px 20px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  background-color: #e9e9e9;
  color: #00bfa6;
  cursor: pointer;
}