.yarat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.yarat > h1 {
    font-size: 50px;
}

.yarat > p {
    font-size: 30px;
    margin-top: 10px;
    color: #ec1b2e;
}
